<!DOCTYPE html>
<html>

<head>
    <title>There is magic</title>
    {{{_sections.head}}}
</head>

<body>
    <h1>Magical place</h1>
    <a href="/">Home</a> |
    <a href="/magic">magic</a> |
    <a href="/more">Some more things</a>

    {{{body}}}

    {{{_sections.bottom}}}
</body>

</html>