<!DOCTYPE html>
<html>

<head>
    <title>Main page</title>
</head>

<body>
    <h1>Welcome to the main page, this will always be displayed!</h1>
    <a href="/">Home</a> |
    <a href="/Magic">magic</a>

    {{{body}}}

</body>

</html>