<!DOCTYPE html>
<html>

<body>
    <h1>This is the homepage</h1>
    <h3>Hope you enjoy your stay on the page</h3>
    <p>Here is a random quote:</p>
    <blockquote>{{random_quote.quote}} -- {{random_quote.by}}</blockquote>
</body>

</html>