<h3>Subscribe here</h3>
<form action="formProcessing" method="post">
    <label>Name</label>
    <input type="text" id="fieldName" name="name" value="{{cookieName}}">
    <label>E-mail</label>
    <input type="text" id="fieldEmail" name="email" value="{{sessionEmail}}">
    <button type="submit">Register</button>
</form>