<!DOCTYPE html>
<html>

<head>
    <title>Section Title</title>
    {{!-- NOTE: Sections require _ --}}
    {{{_sectionHelper.head}}}
</head>

<body>
    {{{body}}}
    {{{_sectionHelper.bottom}}}
</body>

</html>